/*----- layout---- */
.firstMain {
  padding: 3rem;
  display: flex;
  justify-content: center;
}
.main {
  padding: 3rem;
  justify-content: center;
}

.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  max-width: 600px;
  height: 400px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.container div {
}
.container button {
  border: 1px solid white;
  padding: 10px 15px;
  border-radius: 15px;
}

.container div a + a {
  margin-right: 1rem;
}

#active {
  font-weight: 700;
}

/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
} */

/* Mobile and Tablet */
@media (max-width: 1023px) {
}
