/*----- layout---- */
.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 3rem;
}
.startPage {
  display: flex;
}
.startPage img{
  max-width: 100%;
  max-height: 720px;
  object-fit: cover;
  border-radius: 0;
}

.startPage div {
  position: absolute;
  top: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.startPage h2 {
font-weight: 100;
}
.startPage button {
  background: #2bb9ad;
  color: white;
  border: none;
}

.linkButton {
  background: #a9ffd5;
  padding: 0.5rem 1rem;
  color: black;
  border-radius: 10px;
  margin-bottom: 1rem;
}    

/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
} */

/* Mobile and Tablet */
@media (max-width: 1023px) {
}
